.navbar-main {
    position: fixed;
    background-color: rgba(31, 31, 31, 0.728);
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: rgb(255, 255, 255);
    }
}
.nav-logo {
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    padding-left: 10px;
    margin-right: 30px;
    text-decoration: none;
    a:hover {
        color: rgb(255, 255, 190);
    }
}
.navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-right: 490px;
    font-family: 'Crete Round', serif;
    a {
        text-decoration: none;
        padding: 30px;
    }
    a:hover {
        color: rgb(255, 255, 190);
    }
}
.upload-icon {
    height: 45px;
    width: auto;
    color: white;
    // background-color: white;
    // border-radius: 10px;
}
.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    input:focus {
        background: white;
        outline-width: 0;
    }
}
.search-icon {
    position: relative;
    right: -38px;
    top: 3px;
    height: 22px;
    width: auto;
    padding-right: 5px;
    cursor: pointer;
}
.nav-search-input {
    background-color: rgb(227, 227, 227);
    height: 30px;
    width: 290px;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 40px;
    margin-right: 10px;
}



.navbar {
    overflow: hidden;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    // padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    // padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}