.navbar-main {
    position: fixed;
    background-color: rgba(31, 31, 31, 0.728);
    height: 60px;
    width: 100vw;
    a {
        color: rgb(255, 255, 255);
    }
}
.nav-logo {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
}