@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
body {
  background-color: white;
  padding: 0px;
  border: 0px;
  margin: 0px; }

.navbar-main {
  position: fixed;
  background-color: rgba(31, 31, 31, 0.728);
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar-main a {
    color: white; }

.nav-logo {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 5px; }

.nav-logo-2 {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  padding-left: 10px;
  text-decoration: none; }

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  font-family: 'Crete Round', serif; }
  .navbar-links a {
    text-decoration: none; }
  .navbar-links a:hover {
    color: #ffffbe; }

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-search input:focus {
    background: white;
    outline-width: 0; }

.search-icon {
  position: relative;
  right: -38px;
  top: 3px;
  height: 22px;
  width: auto;
  padding-right: 5px;
  cursor: pointer; }

.nav-search-input {
  background-color: #e3e3e3;
  height: 30px;
  width: 290px;
  font-size: 15px;
  border-radius: 4px;
  padding-left: 40px;
  margin-right: 10px; }

.hero-image-landing {
  background-image: url("https://static1.squarespace.com/static/55396962e4b053ce148cb1e1/t/57210fcab6aa60cca01f49fb/1461784525042/rolleiflex-brooklyn-film-camera.jpg?format=1500w");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center; }

.filmshare-text-hero {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  padding-top: 100px;
  font-family: 'Bungee Shade', cursive; }

.buttons-landing-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .buttons-landing-main button:hover {
    background-color: black;
    color: rgba(254, 252, 252, 0.762); }
  .buttons-landing-main button:focus {
    outline-width: 0; }

.create-account-landing {
  background-color: rgba(254, 252, 252, 0.762);
  margin-top: 20px;
  border: 0px;
  height: 70px;
  width: 180px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bolder; }

.explore-background {
  background-image: url("https://farm5.staticflickr.com/4588/38472835604_3444c4f0e9_o.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center; }

.explore-nav {
  height: 50px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.536);
  position: absolute;
  top: 60px; }
